<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fear Analyzer</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="../static/index.css">
    <script src="../static/index.js"></script>
  </head>
  <body>
    <div id="main_div" style="">
      <div id="top_bar">
        <div id="heading_div">
          <h2 id="heading">Fear Analyzer</h2>
        </div>
        <div id="info_div">
          <svg id="info_icon" width="30px" height="30px" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink= "http://www.w3.org/1999/xlink">
          	<image xlink:href="../static/info_outline.svg" x="0" y="0" height="30px" width="30px"/>
          </svg>
        </div>
      </div>
      <div id="chat_div"></div>
      <div id="chat_box">
        <input type="text" id="textinput" placeholder="Chat...">
        <button id="send_button">Send</button>
      </div>
    </div>
  </body>
</html>
